*{
    font-family: Arial;
    background-color: transparent;
    
}
body{
    background-color: #f7f7ff;
    font-family: Arial;
    margin: 0;
    padding: 0;
}
.img{
    border-radius: 45px;
    height: 75px;
    width: 75px;
}
/* Styling for nav bar */
.navright{
    display: flex;
    float: right;
    gap: 20px;
    padding: 10px 40px;
    font-size: 17px;
    background-color: #d3b392;
    border-radius: 10px;
}
/* Styling for nav bar */
.nav-width{
    width: 100%;
    height: 85px;
    background-color: #d3b392;
    border-radius: 5px;
}
/* Styling for nav bar */
.div-nav{
    padding: 10px 20px;
    line-height: 40px;
    border-radius: 10px;
    font-size: 15px;
    color: black;
    text-decoration: none;
}
.div-nav:hover{
    background-color: #b89b7e;
    transition: 0.5s;
    cursor:auto;

}
/* Image for portfolio */
.nav-pic{
    float: left;
    padding: 5px 30px;
    line-height: 40px;
}
/*this is the css for the sticky socials button */
.socials {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.socials a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 10px;
    height: 10px;
}

.socials a:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-github {
    background: #333;
    color: white;
}
.fa-instagram {
    background: #e1306c;
    color: white;
}